.el-dropdown-menu {
    background-color: #fff !important;
    li:hover{
        background-color: #E4F6E9 !important;
        color: black !important;
    }
  }

  .el-carousel__indicators--horizontal{
    top: 300px;
  }


  .el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: green !important;
}
// .el-page{
//   li:hover{
//     color: #fff;
//   }
// }
